<div class="content">

		<!-- Card Header - Dropdown -->
		<div class="card-header">
			<h4 class="h4 mb-0 text-gray-800">Chat Messages</h1>
		</div>
		<!-- Card Body -->
		<div xclass="card-header">
			<div class="content">Previous Prompts and Responses</div>
		</div>
	</div>